<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand linkStyle" href="/">
    <img src="../../../assets/Instagram-logo-400x400.png" width="40" height="40" class="d-inline-block align-top"
         alt="">
    Micro Instagram Home Page
  </a>
 
  <div class="collapse navbar-collapse" id="navbarText">
    <div class="ml-auto d-flex align-items-center">
      <p class="text-secondary" style="padding-top: 20px; padding-right: 20px">Arsovski's Micro Instagram</p>
      <button type="button" class="btn btn-danger" (click)="navigateAddImage()">Add Image</button>
    </div>
  </div>
</nav>
